/* CSS RULES  */
@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

/* Global CSS  */

body {
    font-family: "Gothic";
    margin: 0;
    color: bisque;
    font-size: 1.5rem;
    background-image: url(../img/smoke-bg.jpg);
}

h1, h2, h3 {
    font-family: "MedievalSharp";
    text-transform: uppercase;
    color: rgb(225, 183, 132);
    margin: 0;
}

h1 {
    font-size: 3rem;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

.menu-item-top {
    text-decoration: none;
    color: bisque;
    font-family: "MedievalSharp";
}

.menu-items-top-container > li:last-of-type > a {
    background-color: rgba(243, 211, 172, 0.907);
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.cta {
    text-decoration: none;
    font-family: "MedievalSharp";
}

.cta--primary {
    color: white;
    border: 1px solid rgb(245, 210, 157);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 20px;
}

/* Header  */
.header {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    position: relative;
}

#background-video {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.logo-top-container {
    width: 200px;
    height: auto;
}

.logo-bg3-header {
    width: 100%;
    height: auto;
}
.menu-items-top-container {
    display: flex;
    gap: 25px;
}

.header-banner-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    font-size: 2rem;
}

/* section award  */
#award {
    margin: 5% auto;
    background-image: url(../img/awards-bg.png);
    border: 1px solid rgb(245, 210, 157);
    border-radius: 5px;
    padding: 10px;
    width: 75%;
}

.award-container {
    display: flex;
}

.award-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award-container-img {
    display: flex;
    margin-left: 5%;
    gap: 40%;
    width: 15%;
}

.award-container-img > img {
    width: 100%;
    height: auto;
}

/* section races  */

.race-container-left {
    border: 1px solid rgb(245, 210, 157);
    border-radius: 10px;
    background-image: url(../img/races-bg.jpg);
    width: 30%;
}

.race-img-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    gap: 25px;
    width: 75%;
}

.race-img-left > img {
    width: 20%;
    margin-left: 2.5%;
    position: relative;
}

.img-text {
    
}

