/* CSS RULES  */
@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

/* Global CSS  */
*{
    box-sizing: border-box;
}


body {
    font-family: "Gothic";
    margin: 0;
    color: bisque;
    font-size: 1.5rem;
    background-image: url(../img/smoke-bg.jpg);
}

h1, h2, h3 {
    font-family: "MedievalSharp";
    text-transform: uppercase;
    color: rgb(225, 183, 132);
    margin: 0;
    padding: 15px;
}

h1 {
    font-size: 3rem;
}

p {
    margin: 0;
    padding: 15px;
}

ul {
    list-style: none;
}

.menu-item {
    text-decoration: none;
    color: bisque;
    font-family: "MedievalSharp";
}

.menu-items-top-container > li:last-of-type > a {
    background-color: rgba(243, 211, 172, 0.907);
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.cta {
    text-decoration: none;
    font-family: "MedievalSharp";
    color: rgb(245, 210, 157);
}

.cta--primary {
    color: white;
    
    border: 1px solid rgb(245, 210, 157);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 20px;
    transition: all 0.2s ease-in;
}

.cta--primary:hover, .menu-items-top-container > li:last-of-type > a:hover {
    background-color: rgba(0, 0, 0, 0.955);
    color: rgb(245, 210, 157);
    border: 1px solid white;
    box-shadow: 3px 1px 10px 8px rgba(255, 255, 255, 0.133);
}

/* Header  */
.header {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    position: relative;
}

#background-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.logo-top-container {
    width: 200px;
    height: auto;
}

.logo-bg3-header {
    width: 100%;
    height: auto;
}
.menu-items-top-container {
    display: flex;
    gap: 25px;
}

.header-banner-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    font-size: 2rem;
}

/* section award  */
#award {
    margin: 10% auto;
    background-image: url(../img/awards-bg.png);
    background-position: center;
    border: 1px solid rgb(245, 210, 157);
    border-radius: 5px;
    padding: 10px;
    width: 75%;
}

.award-container {
    display: flex;
}

.award-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.award-container-img {
    display: flex;
    margin-left: 5%;
    gap: 40%;
    width: 15%;
}

.award-container-img > img {
    width: 100%;
    height: auto;
}

/* section races  */
#races > h2:first-of-type {
    margin-left: 10%;
}

.race-content {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.race-container-left {
    border: 1px solid rgb(245, 210, 157);
    border-radius: 10px;
    background-image: url(../img/races-bg.jpg);
    background-size: cover;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.race-img-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin-left: 15%;
    font-family: "MedievalSharp";
    font-size: 0.9rem;
}

.race-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 2.5%;
}
.race-img > img {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.race-container-right {
    border: 1px solid rgb(245, 210, 157);
    border-radius: 10px;
    width: 30%;
    position: relative;
}

.decoration-line {
    width: 10%;
    height: auto;
}

.elf-img-container {
    margin: 5px auto;
    width: 25%;
}

.elf-img-container > img {
    width: 100%;
}

.race-content-right {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.race-content-right::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(214, 176, 118);
}
.race-content-right::before {
    content: "";
    position: absolute;
    top: 39.50%;
    display: inline-block;
    height: 5px;
    width: 38%;
    background-color: rgb(204, 176, 133);
}

/* section buynow */
.buynow-container {
    background-image: url(../img/buy-now-background.jpg);
    background-size: cover;
    margin-top: 5%;
    position: relative;
    height: 85vh;
}

.buynow-standard-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 5%;
}

.buynow-standard-img > img {
    width: 60%;
    height: auto;
}

.buynow-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 25px;
    padding-top: 15%;
    width: 50%;
    margin: 0 35%;
}
.cta-about-container > .cta--primary {
    background-color: rgba(0, 0, 0, 0.429);
    padding: 10px;
    margin-left: 10px;
}

/* section news & update  */
#new-update {
    margin-top: 5%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.news-heading {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.news-card-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.news-card {
    border-radius: 10px;
    width: 25%;
    margin: 1.5%;
    background-image: url(../img/news-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: relative;
}

.news-card:nth-of-type(2) {
    background-image: url(../img/news-2.jpg);
}

.news-card:last-of-type {
    background-image: url(../img/news-3.jpg);
}

.overlay-card   {
    border-radius: 10px;
    padding: 7.5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    z-index: -1;
}

/* category gallery  */
.gallery-heading {
    text-align: right;
    margin-right: 10%;
}

.gallery-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-card {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 20%;
}

.gallery-card > img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

/* section background & overlay  */
.overlay-container {
    background-image: url(../img/cta-bg.png);
    width: 75%;
    padding: 5%;
    margin: 5% auto;
    border: 1px solid rgb(245, 210, 157);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.overlay-content {
    width: 50%;
}

.overlay-content > p {
    margin-bottom: 10%;
}

/* footer  */
footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.footer-container {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer-content-left {
    width: 40%;
    text-align: left;
}

.footer-content-right {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu-item-bot {
    font-family: "Gothic";
}

.footer-content-right > ul >li:first-of-type {
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: "MedievalSharp";
}


footer::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: rgb(245, 210, 157);
}
footer::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: rgb(245, 210, 157);
}